@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@200;400;500;700&family=Space+Grotesk:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

body {
  background-image: url("images/bg-main-desktop.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 18px;
  height: 100vh;
  background-size: 40% 100%; /* Adjusted background-size value */
}


#main {
  display: flex;
  justify-content: space-evenly;
}

#cardsSection {
  display: grid;
  width: 600px;
  
}

#inputSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 570px;
}

.inputTitle {
  margin-bottom: 10px;
  color: hsl(278, 68%, 11%);
}

.inputField {
  width: 350px;
  border-radius: 6px;
  border: 1px solid black;
  height: 40px;
  padding: 10px;
}

#confirmButton {
  width: 355px;
  border-radius: 6px;
  height: 50px;
  padding: 10px;
  border: 0;
  background-color: hsl(278, 68%, 11%);
  color: white;
  cursor: pointer;
  font-size: 17px;
}

::placeholder {
  color: hsl(279, 6%, 55%);
}

#frontSide {
  background-image: url(images/bg-card-front.png);
  background-repeat: no-repeat;
  width: 447px;
  height: 245px;
  color: white;
  letter-spacing: 4px;
}

#backSide {
  background-image: url("images/bg-card-back.png");
  background-repeat: no-repeat;
  width: 447px;
  height: 245px;
  margin-left: 100px;
  margin-top: 40px;
  letter-spacing: 4px;
}


@media (max-width: 391px){
  body {
    display: block;
    background-size: 120% 53%;
  }
  #main {
    display: block;
  }
  #backSide {
    margin-left: 0;
    margin-top: -35px;
  }
  #cardsSection {
    margin-top: -10px;
    width: 385px;
    justify-content: center;
  }
  #inputSection {
    margin-top: -15px;
    scale: 0.85;

  }
  #frontSide {
    scale: 0.75;
  }
  #backSide {
    scale: 0.75;
  }
}